.bodyLeft {
	width: 50%;
	margin-top: 150px;
	margin-left: 100px;
}
.bodyLeft__slogan {
	color: #ff6347;
	font-weight: 600;
}
.bodyLeft__head {
	margin-top: 10px;
	line-height: 45px;
	font-size: 17px;
}
.bodyLeft__word {
	color: #ff6347;
	background-color: white;
}
.bodyLeft__para {
	margin: 15px 0px 10px 0px;
}
.bodyLeft__btn {
	margin-top: 25px;
}
.bodyLeft__btn1 {
	color: white;
	height: 45px;
	width: 195px;
	border: 1px solid #ff6347;
	background-color: #ff6347;
	border-radius: 7px;
	cursor: pointer;
	font-weight: 600;
}
.bodyLeft__btn2 {
	color: #ff6347;
	height: 45px;
	width: 195px;
	border: 1px solid #ff6347;
	background-color: white;
	border-radius: 7px;
	margin-left: 15px;
	cursor: pointer;
	font-weight: 600;
}
.bodyLeft__foot {
	margin: 10px 0 0 0px;
}
@media screen and (max-width: 1080px) {
    .bodyLeft__btn2 {
        margin: 10px;
        margin-left: 0;
    }
}
.bodyLeft__btn1:hover {
	color: black ;
}
.bodyLeft__btn2:hover {
	text-decoration: underline;
}

